<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-700 m-0 p-0">
    <h1 class="text-xl m-5 text-white"> All Users</h1>
    <a class="text-xl m-5 text-blue-800" href="/">Back</a>
    <div class="flex gap-2 flex-wrap">
        <% users.forEach(function(user){ %>
            <div class="users mx-5">
                <div class="user bg-gray-600 max-w-72 h-90 border-2 border-red-800 rounded-lg m-5 p-2">
                    <div class="h-56 bg-red-400 overflow-hidden">
                        <img src="<%= user.image %>" alt="" class="w-full h-full object-cover">
                    </div>                    
                    <div class="data m-1">
                        <h1 class="text-lg"><%= user.name %></h1>
                        <h6 class="text-sm"><%= user.email %></h6>
                        <h6 class="text-sm"><%= user.phone %></h6>
                    </div>
                    <div class="m-1 my-2 flex justify-between">
                        <a class="text-blue-900 text-lg" href="/edit/<%= user._id %>">Edit</a>
                        <a class="text-red-800" href="/delete/<%= user._id %>">Delete</a>
                    </div>
                
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>